<div
  style="
    background-color: lightgray;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  "
>
  <h2 style="margin: 20px">PERSONAL INFORMATION</h2>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div style="background-color: lightgray">
      <mat-form-field style="margin-left: 35px; width: 50%">
        <mat-label>EMPLOYEE_NAME</mat-label>
        <input
          matInput
          placeholder="Employee Name"
          formControlName="employeeName"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
      <mat-form-field style="margin-left: 35px; width: 50%">
        <mat-label>EMPLOYEE_ID</mat-label>
        <input
          matInput
          placeholder="Employee ID"
          formControlName="employeeId"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
      <mat-form-field style="margin-left: 35px; width: 50%">
        <mat-label>NATIONALITY</mat-label>
        <input
          matInput
          placeholder="Employee Role"
          formControlName="nationality"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
      <mat-form-field style="margin-left: 35px; width: 50%">
        <mat-label>DATE_OF_BIRTH</mat-label>
        <input
          matInput
          placeholder="Date of Joining"
          formControlName="dateOfBirth"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
    </div>
    <div style="background-color: lightgray">
      <mat-form-field style="margin-left: 35px; width: 50%">
        <mat-label>GENDER</mat-label>
        <input
          matInput
          placeholder="Gender"
          formControlName="gender"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
      <mat-form-field style="margin-left: 35px; width: 50%">
        <mat-label>LANGUAGE</mat-label>
        <input
          matInput
          placeholder="Education"
          formControlName="language"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
      <mat-form-field style="margin-left: 35px; width: 50%">
        <mat-label>BlOOD GROUP</mat-label>
        <input
          matInput
          placeholder="Years of Experience"
          formControlName="bloodGroup"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
      <mat-form-field style="margin-left: 35px; width: 50%">
        <mat-label>PERSONAL EMAIL</mat-label>
        <input
          matInput
          placeholder="Years of Experience"
          formControlName="personalEmail"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
    </div>
    <div style="background-color: lightgray">
      <mat-form-field style="margin-left: 35px; width: 50%">
        <mat-label>PERSONAL PHONE</mat-label>
        <input
          matInput
          placeholder="Years of Experience"
          formControlName="personalPhone"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
      <mat-form-field style="margin-left: 35px; width: 50%">
        <mat-label>EMERGENCY PHONE</mat-label>
        <input
          matInput
          placeholder="Years of Experience"
          formControlName="emergencyPhone"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
      <mat-form-field style="margin-left: 35px; width: 50%">
        <mat-label>ADDRESS</mat-label>
        <input
          matInput
          placeholder="Years of Experience"
          formControlName="address"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
    </div>
    <!-- <div style="background-color: lightgray;">
      <button mat-raised-button color="primary" [disabled]="read" >ViewDocuments</button>
    <button mat-raised-button color="primary" type="button" (click)="viewPDF()">View</button>
    </div> -->
    <div style="background-color: lightgray">
      <button
        style="margin-left: 50px; margin-top: 50px"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="isReadOnly"
      >
        Submit
      </button>
      <button
        style="margin-left: 25px; margin-top: 50px"
        mat-raised-button
        color="accent"
        type="button"
        (click)="onEdit()"
        *ngIf="isReadOnly"
      >
        Edit
      </button>
    </div>
    <p style="margin-top: 60px"></p>
  </form>
</div>
