 <div class="mat-dialog-container">
  <button class="close-button" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <h2>Generate Invoice</h2>
  <form [formGroup]="contactForm">
    <mat-form-field *ngIf="!invoiceGenerated">
      <input
        matInput
        placeholder="Project Name"
        formControlName="projectName"
      />
    </mat-form-field>
    <mat-form-field *ngIf="!invoiceGenerated">
      <input
        matInput
        [matDatepicker]="startDatePicker"
        placeholder="Start Date"
        formControlName="startDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="startDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="!invoiceGenerated">
      <input
        matInput
        [matDatepicker]="endDatePicker"
        placeholder="End Date"
        formControlName="endDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="endDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
    <div class="categoryContainer">
      <mat-radio-group *ngIf="!invoiceGenerated"
        aria-labelledby="label"
        class="radioGroup"
        formControlName="category"
      >
        <mat-radio-button
          class="radiobtn"
          *ngFor="let category of categories"
          [value]="category"
        >
          {{ category }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
  
  <div>
    <button mat-raised-button (click)="onGenerateClick()" *ngIf="!invoiceGenerated">Generate</button>
    <div *ngIf="invoiceGenerated" class="invoice-details" >
      <!-- <h2>Invoice Details</h2> -->
      <mat-form-field *ngIf="invoiceGenerated">
        <input matInput placeholder="ClientAddress" [(ngModel)]="clientAddress" [readonly]="!editMode" />
      </mat-form-field>
      <mat-form-field style="margin-left: 10px" *ngIf="invoiceGenerated">
        <input matInput placeholder="PayOrder" [(ngModel)]="payOrder" [readonly]="!editMode" />
      </mat-form-field>
      <mat-form-field style="margin-left: 10px" *ngIf="invoiceGenerated">
        <input matInput placeholder="SFDC" [(ngModel)]="sfdc" [readonly]="!editMode" />
      </mat-form-field>
      </div>
      <div class="invoice-details">
      <mat-form-field *ngIf="invoiceGenerated">
        <input matInput placeholder="PA" [(ngModel)]="pa" [readonly]="!editMode" />
      </mat-form-field>
      <mat-form-field style="margin-left: 10px" *ngIf="invoiceGenerated">
        <input matInput placeholder="TotalManDays" [(ngModel)]="totalManDays" [readonly]="!editMode" />
      </mat-form-field>
      <mat-form-field style="margin-left: 10px" *ngIf="invoiceGenerated">
        <input matInput placeholder="ManDays" [(ngModel)]="manDays" [readonly]="!editMode" />
      </mat-form-field>
    </div>
    <div class="invoice-details">
      <mat-form-field *ngIf="invoiceGenerated">
        <input matInput placeholder="InvoiceAmount" [(ngModel)]="invoiceAmount" [readonly]="!editMode" />
      </mat-form-field>   
      <mat-form-field style="margin-left: 10px" *ngIf="invoiceGenerated">
        <input matInput placeholder="TotalInvoiceAmount" [(ngModel)]="totalInvoiceAmount" [readonly]="!editMode" />
      </mat-form-field>
    </div>
    <button style="margin-left: 150px"*ngIf="invoiceGenerated" mat-raised-button color="primary" (click)="editInvoice()">Edit</button>
    <button style="margin-left: 40px" *ngIf="invoiceGenerated"
       mat-raised-button
       color="primary"
       (click)="onClickInvoiceSave()"
     >
       Generate Invoice PDF
     </button>
  </div>
  </div>