<div class="mat-dialog-container">
  <h2>Create Timesheet</h2>
  <button class="close-button" color="primary" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <div>
    <button mat-raised-button color="primary" (click)="onClickDaily()">
      Daily
    </button>
    <button
      mat-raised-button
      color="primary"
      style="margin-left: 10px"
      (click)="onClickExternal()"
    >
      External
    </button>
  </div>
  <!-- <form [formGroup]="contactForm"> -->
  <div *ngIf="showDaily || showExternal" class="showDailyContent">
    <mat-form-field *ngIf="showDaily">
      <input matInput placeholder="ProjectName" [(ngModel)]="projectName" />
    </mat-form-field>
    <mat-form-field *ngIf="showDaily">
      <input matInput placeholder="hours" [(ngModel)]="duration" />
    </mat-form-field>
    <mat-form-field *ngIf="showDaily">
      <input matInput placeholder="Description" [(ngModel)]="description" />
    </mat-form-field>
    <mat-form-field *ngIf="showDaily">
      <input matInput [matDatepicker]="endDatePicker" placeholder="Date" [(ngModel)]="date" />
      <mat-datepicker-toggle
      matSuffix
      [for]="endDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="onClickDailySave()"
      *ngIf="showDaily"
    >
      Create Daily
    </button>

    <mat-form-field *ngIf="showExternal">
      <input matInput placeholder="Upload" [(ngModel)]="upload" />
    </mat-form-field>
    <mat-form-field *ngIf="showExternal">
      <input matInput placeholder="hours" [(ngModel)]="hours" />
    </mat-form-field>
    <mat-form-field *ngIf="showExternal">
      <input
        matInput
        [matDatepicker]="startDatePicker"
        placeholder="startDate"
        [(ngModel)]="startDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="startDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="showExternal">
      <input
        matInput
        [matDatepicker]="endDatePicker"
        placeholder="Enddate"
        [(ngModel)]="endDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="endDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="onClickExternalSave()"
      *ngIf="showExternal"
    >
      Submit External
    </button>
  </div>
  <!-- </form> -->
  <!-- <button mat-raised-button (click)="onGenerateClick()">Generate</button> -->
</div>
