<!-- <div class="mat-dialog-container">
  <h2>Create Timesheet</h2>
  <button class="close-button" color="primary" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <div>
    <button mat-raised-button color="primary" (click)="onClickDaily()">
      Daily
    </button>
    <button
      mat-raised-button
      color="primary"
      style="margin-left: 10px"
      (click)="onClickExternal()"
    >
      External
    </button>
  </div>
  <mat-dialog-content class="modal-dialog-content">
    <div *ngIf="showDaily || showExternal" class="showDailyContent">
      <mat-form-field *ngIf="showDaily">
        <input matInput placeholder="ProjectName" [(ngModel)]="task1" />
      </mat-form-field>
      <mat-form-field *ngIf="showDaily">
        <input matInput placeholder="hours" [(ngModel)]="task2" />
      </mat-form-field>
      <mat-form-field *ngIf="showDaily">
        <input matInput placeholder="Description" [(ngModel)]="task3" />
      </mat-form-field>
      <mat-form-field *ngIf="showDaily">
        <input matInput placeholder="Date" [(ngModel)]="task4" />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="onClickDailySave()"
        *ngIf="showDaily"
      >
        Create Daily
      </button>

      <mat-form-field *ngIf="showExternal">
        <input matInput placeholder="Upload" [(ngModel)]="task1" />
      </mat-form-field>
      <mat-form-field *ngIf="showExternal">
        <input matInput placeholder="hours" [(ngModel)]="task2" />
      </mat-form-field>
      <mat-form-field *ngIf="showExternal">
        <input matInput placeholder="startDate" [(ngModel)]="task3" />
      </mat-form-field>
      <mat-form-field *ngIf="showExternal">
        <input matInput placeholder="Enddate" [(ngModel)]="task4" />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="onClickExternalSave()"
        *ngIf="showExternal"
      >
        Submit External
      </button>
    </div>
  </mat-dialog-content>
</div> -->

<div class="mat-dialog-container">
  <h2>Create Timesheet</h2>
  <button class="close-button" color="primary" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <div>
    <button mat-raised-button color="primary" (click)="onClickDaily()">
      Daily
    </button>
    <button
      mat-raised-button
      color="primary"
      style="margin-left: 10px"
      (click)="onClickExternal()"
    >
      External
    </button>
  </div>
  <!-- <form [formGroup]="contactForm"> -->
  <div *ngIf="showDaily || showExternal" class="showDailyContent">
    <mat-form-field *ngIf="showDaily">
      <input matInput placeholder="ProjectName" [(ngModel)]="task1" />
    </mat-form-field>
    <mat-form-field *ngIf="showDaily">
      <input matInput placeholder="hours" [(ngModel)]="task2" />
    </mat-form-field>
    <mat-form-field *ngIf="showDaily">
      <input matInput placeholder="Description" [(ngModel)]="task3" />
    </mat-form-field>
    <mat-form-field *ngIf="showDaily">
      <input matInput placeholder="Date" [(ngModel)]="task4" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="onClickDailySave()"
      *ngIf="showDaily"
    >
      Create Daily
    </button>

    <mat-form-field *ngIf="showExternal">
      <!-- <input matInput placeholder="Upload" [(ngModel)]="task1" /> -->
      <input type="file" (change)="onFileSelected($event)" #fileInput hidden />
      <button mat-raised-button (click)="fileInput.click()">Choose file</button>
      <span>{{ fileName }}</span>
      <mat-icon matSuffix>attach_file</mat-icon>
    </mat-form-field>
    <mat-form-field *ngIf="showExternal">
      <input matInput placeholder="hours" [(ngModel)]="task2" />
    </mat-form-field>
    <mat-form-field *ngIf="showExternal">
      <input matInput placeholder="startDate" [(ngModel)]="task3" />
    </mat-form-field>
    <mat-form-field *ngIf="showExternal">
      <input matInput placeholder="Enddate" [(ngModel)]="task4" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="onClickExternalSave()"
      *ngIf="showExternal"
    >
      Submit External
    </button>
  </div>
  <!-- </form> -->
  <!-- <button mat-raised-button (click)="onGenerateClick()">Generate</button> -->
</div>
