<div class="card">
    <h2 class="card-header">DOCUMENT COLLECTION</h2>

    <!-- <table style="margin-top: 20px;margin-right: 20px; margin-bottom: 500px;" >

        <ng-container matColumnDef="action" >
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
                <div class="actionContainer">
      
                <a (click)="test()" class="icon" style="margin-left: 10px"
                  ><mat-icon style="font-size: x-large" fontIcon="delete"></mat-icon>
                  <p>View</p>
                </a>
              </div>
            </td>
        </ng-container>

    </table> -->
 <div class="categoryContainer">
       <button
        mat-raised-button
        class="btns"
        color="primary"
        data-toggle="modal"
        (click)="openPO()"
      >Upload Resume
      </button>
      </div>
    <table style="margin-top: 20px;margin-right: 20px; margin-bottom: 500px;" >
        <!-- <h4>Resume Details</h4>
        <h5>{{fileName}}</h5>
        <button (click)="viewPdf()" >View document</button> -->

        <ng-container>
            <h4>Resume Details</h4>
            <h5>{{fileName}}</h5>

            <div class="actionContainer">
                <a (click)="viewPdf()" class="icon">
                    <mat-icon style="font-size: x-large" fontIcon="visibility"></mat-icon>
                </a>
            </div>
        </ng-container>

     

        <!-- <ng-container>
            <a (click)="viewPdf()" class="icon">
                <mat-icon style="font-size: x-large" fontIcon="visibility"></mat-icon>
            </a> -->
            <!-- <button (click)="viewPdf()" >View document</button> -->
        <!-- </ng-container> -->
    </table>

</div>