.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  .header {
    position: absolute;
    top: 25%;
    left: 50%;
  }
  
  .container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }
  
  .icon {
    font-size: 40px;
    height: 60px;
    width: 60px;
  }
  
  .loginbtn {
    display: flex;
    left: 43%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1976d2;
  }
  .card-header {
    text-align: center;
    padding: 10px;
    top: 30px;
  }
  
  .example-card {
    width: 38%;
    // padding: 50px;
    position: absolute;
    left: 32%;
    top: 18%;
  }
  