<div
  style="background-color: lightgray; width: 100%; height: 100%; display: flex"
>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field style="margin-left: 25px">
        <mat-label>EMPLOYEE_NAME</mat-label>
        <input
          matInput
          placeholder="Employee Name"
          formControlName="employeeName"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
      <mat-form-field style="margin-left: 25px">
        <mat-label>EMPLOYEE_ID</mat-label>
        <input
          matInput
          placeholder="Employee ID"
          formControlName="employeeId"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
      <mat-form-field style="margin-left: 25px">
        <mat-label>EMPLOYEE_ROLE</mat-label>
        <input
          matInput
          placeholder="Employee Role"
          formControlName="employeeRole"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
      <mat-form-field style="margin-left: 25px">
        <mat-label>JOB TITLE</mat-label>
        <input
          matInput
          placeholder="JobTitle"
          formControlName="jobTitle"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="margin-left: 25px">
        <mat-label>DATE_OF_JOINING</mat-label>
        <input
          matInput
          placeholder="Date of Joining"
          formControlName="dateOfJoining"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
      <mat-form-field style="margin-left: 25px">
        <mat-label>EMPLOYEE EMAIL</mat-label>
        <input
          matInput
          placeholder="EmployeeEmail"
          formControlName="employeeEmail"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
      <mat-form-field style="margin-left: 25px">
        <mat-label>PASSWORD</mat-label>
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
      <mat-form-field style="margin-left: 25px">
        <mat-label>DEPARTMENT</mat-label>
        <input
          matInput
          placeholder="Department"
          formControlName="department"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="margin-left: 25px">
        <mat-label>REPORTING MANAGER</mat-label>
        <input
          matInput
          placeholder="ReportingManager"
          formControlName="reportingManager"
          [readonly]="isReadOnly"
        />
      </mat-form-field>

      <mat-form-field style="margin-left: 25px">
        <mat-label>EMPLOYEE STATUS</mat-label>
        <input
          matInput
          placeholder="EmployeeStatus"
          formControlName="employeeStatus"
          [readonly]="isReadOnly"
        />
      </mat-form-field>

      <mat-form-field style="margin-left: 25px">
        <mat-label>OVERALL EXPERIENCE</mat-label>
        <input
          matInput
          placeholder="Over all Experience"
          formControlName="overallExperience"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
      <mat-form-field style="margin-left: 25px">
        <mat-label>Project Assignment Status</mat-label>
        <input
          matInput
          placeholder="Project Assignment Status"
          formControlName="projectAssignmentStatus"
          [readonly]="isReadOnly"
        />
      </mat-form-field>
    </div>
    <button
      style="margin-left: 525px"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="isReadOnly"
    >
      Submit
    </button>
    <button
      style="margin-left: 25px"
      mat-raised-button
      color="accent"
      type="button"
      (click)="onEdit()"
      *ngIf="isReadOnly"
    >
      Edit
    </button>
  </form>
</div>
