.circle-container {
    display: flex;
    margin-left: 10%;
    margin-top: 200px;
  }
  
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 20px;
  }
  
  .green {
    background-color: green;
  }
  