<div class="card">
  <h2 class="card-header">SKILLS CERTIFICATION</h2>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label class="label">EMPLOYEE_ID</mat-label>
      <input
        matInput
        placeholder="EmployeeId"
        formControlName="employeeId"
        [readonly]="isReadOnly"
      />
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label class="label">EMPLOYEE_NAME</mat-label>
      <input
        matInput
        placeholder="EmployeeName"
        formControlName="employeeName"
        [readonly]="isReadOnly"
      />
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label class="label">YEARS_OF_EXPERIENCE</mat-label>
      <input
        matInput
        placeholder="Years_Of_Experience"
        formControlName="yearsOfExperience"
        [readonly]="isReadOnly"
      />
    </mat-form-field>
    <mat-form-field
      class="form-field"
      appearance="outline"
      style="margin-right: 30px"
    >
      <mat-label class="label">COMPETENCY_LEVEL</mat-label>
      <input
        matInput
        placeholder="CompetencyLevel"
        formControlName="compentencyLevel"
        [readonly]="isReadOnly"
      />
    </mat-form-field>
    <div style="display: flex; flex-direction: column">
      <label style="margin-left: 0px">SKILLS NAME</label>
      <div
        style="display: flex; gap: 10px; margin-left: 80px; margin-right: 80px"
      >
        <div
          *ngFor="let skill of skillsNameArr"
          style="
            border-radius: 20px;
            background-color: #efefef;
            padding: 2px 10px;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
          "
        >
          <span style="margin-right: 10px">{{ skill }}</span>
          <button
            style="
              background-color: #e74c3c;
              color: #fff;
              border-radius: 50%;
              padding: 5px;
              cursor: pointer;
            "
            [disabled]="isReadOnly"
            (click)="removeSkillsName(skill)"
          >
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <label style="margin-left: 0px">TOOLS NAME</label>
      <div
        style="display: flex; gap: 10px; margin-left: 80px; margin-right: 80px"
      >
        <div
          *ngFor="let tool of toolsNameArr"
          style="
            border-radius: 20px;
            background-color: #efefef;
            padding: 2px 10px;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
          "
        >
          <span style="margin-right: 10px">{{ tool }}</span>
          <button
            style="
              background-color: #e74c3c;
              color: #fff;
              border-radius: 50%;
              padding: 5px;
              cursor: pointer;
            "
            [disabled]="isReadOnly"
            (click)="removeSkillsName(tool)"
          >
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
  <div>
    <button
      class="button"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="isReadOnly"
      (click)="onSubmit()"
    >
      Submit
    </button>
    <button
      class="button"
      mat-raised-button
      color="accent"
      type="button"
      (click)="onEdit()"
      *ngIf="isReadOnly"
    >
      Edit
    </button>
  </div>
</div>
