.toolbar {
   height: 100;
   background-color: #007bff!important;
   color: white;
   width: 100%;
 }

.container {
   display: flex;
   flex-direction: row;
   // justify-content: center;
   // align-items: center;
}
.example-toolbar {  
  background: linear-gradient(to bottom, #055d8c, #055d8c);
  color: white;
}

.mat-toolbar-row {
   display: flex;
   justify-content: center;
   flex-grow: 1;
 }
 
 .toolbar-title {
  font-size: 26px;
  font-weight: bold;
  color:white;
}

 .electric-blue {
   background-color: #007bff !important;
   color: #050505 !important;
 }

.homeIcon {
   margin: 10 10 10 50;
}

