<div class="toolbar">
  <mat-toolbar class="example-toolbar">
    <mat-toolbar-row>
      <div class="button-container">
        <button mat-icon-button (click)="goBack()" class="back-button">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-icon-button (click)="navigateToLandingPage()" class="home-button">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <!-- <span class="toolbar-title" style="margin-left: 500px;">OFFICE AUTOMATION</span> -->
      <span class="toolbar-title">OFFICE AUTOMATION</span>
      <!-- <button mat-icon-button style="margin-left: 600px;" (click)="navigateToLandingPage()" class="profile-button">
        <mat-icon>account_circle</mat-icon>
      </button> -->
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<!-- <div>
  <div class="button-container">
    
  </div>
</div> -->
<router-outlet></router-outlet>
