.toolbar {
   height: 100;
   background-color: #007bff!important;
   color: white;
   width: 100%;
 }

.container {
   display: flex;
   flex-direction: row;
   // justify-content: center;
   // align-items: center;
}

.mat-toolbar-row {
   display: flex;
   justify-content: center;
   flex-grow: 1;
 }
 
 .toolbar-title {
   text-align: center;
 }

 .electric-blue {
   background-color: #007bff !important;
   color: #050505 !important;
 }

.homeIcon {
   margin: 10 10 10 50;
}

