<div>
  <!-- <div class="container">
    <mat-icon class="homeIcon">home</mat-icon>
    <span class="logo">Zagalogo</span>
    <h2 class="header">Office Automation</h2>
    <mat-icon class="accountIcon">account_circle</mat-icon>
  </div> -->
  <!-- <h2 class="header">Office Automation</h2> -->
  <mat-toolbar>
    <!-- <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button> -->
    <!-- <h1 class="header">Office Automation</h1> -->
    <mat-toolbar-row
      ><span class="toolbar-title">Office Automation</span></mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
