<mat-card class="project-card">
  <mat-card-title class="card-header">Create Project</mat-card-title>
  <div class="form-container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <!-- Client Information -->

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Client Name</mat-label>
        <input matInput formControlName="clientName" type="text" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Client Email</mat-label>
        <input matInput formControlName="clientEmail" type="email" />
        <mat-error
          *ngIf="
            myForm?.get('clientEmail')?.invalid &&
            myForm?.get('clientEmail')?.touched
          "
        >
          <span *ngIf="myForm?.get('clientEmail')?.hasError('email')"
            >Invalid email format</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Client Address</mat-label>
        <input matInput formControlName="clientAddress" rows="3" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Country</mat-label>
        <mat-select
          formControlName="clientCountry"
          (selectionChange)="onCountryChange($event.value)"
        >
          <mat-option *ngFor="let data of jsonData" [value]="data.country">{{
            data.country
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="form-field"
        *ngIf="selectedCountry"
      >
        <mat-label>Currency</mat-label>
        <input matInput formControlName="clientCurrency" />
      </mat-form-field>
      <!-- <mat-label>Currency</mat-label>
        <mat-select formControlName="selectedCurrency">
          <ng-container *ngFor="let data of jsonData">
            <mat-option
              *ngIf="data.country === selectedCountry"
              [value]="data.currency"
            >
              {{ data.currency }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field> -->

      <mat-form-field
        appearance="outline"
        class="form-field"
        *ngIf="selectedCountry"
      >
        <mat-label>Timezones</mat-label>
        <mat-select formControlName="clientTimezone">
          <ng-container *ngFor="let data of jsonData">
            <ng-container *ngIf="data.country === selectedCountry">
              <mat-option
                *ngFor="let timezone of data.timezones"
                [value]="timezone"
              >
                {{ timezone }}
              </mat-option>
            </ng-container>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <!-- <mat-label>Timezones</mat-label>
        <mat-select formControlName="selectedTimezone">
          <ng-container *ngFor="let data of jsonData">
            <mat-option
              *ngIf="data.country === selectedCountry"
              [value]="data.timezones"
              *ngFor="let data.timezones.timezone of data.timezones"
            >
              {{ data.timezones.timezone }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field> -->

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Project Name</mat-label>
        <input matInput type="text" formControlName="projectName" />
      </mat-form-field>
      <!-- <mat-form-field appearance="outline" class="form-field">
    <mat-label>Project ID</mat-label>
    <input matInput   type="text"   formControlName="projectId"  >
   </mat-form-field> -->

      <!-- Project Information - continued -->

      <!-- <mat-form-field appearance="outline" class="form-field">
        <mat-label>Project ID</mat-label>
        <input matInput type="text" formControlName="projectId" />
      </mat-form-field> -->

      <!-- Project Information - continued -->

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Project Manager</mat-label>
        <input matInput type="text" formControlName="projectManager" />
      </mat-form-field>

      <!-- <mat-form-field appearance="outline" class="form-field">
        <mat-label>Project Assignment Status</mat-label>
        <mat-select formControlName="projectAssignmentStatus">
          <mat-option value="Un Assigned">Un Assigned</mat-option>
          <mat-option value="Assigned">Assigned</mat-option>
        </mat-select>
      </mat-form-field> -->

      <!-- Quote Information -->

      <!-- <mat-form-field appearance="outline" class="form-field">
  <mat-label>Quote ID</mat-label>
  <input matInput   type="text"   formControlName="quoteId"  >
 </mat-form-field>
  


      <mat-form-field appearance="outline" class="form-field">
  <mat-label>Quote Status</mat-label>
  <input matInput   type="text"   formControlName="quoteStatus"  >
 </mat-form-field> -->

      <!-- Service Information -->

      <!-- <mat-form-field appearance="outline" class="form-field">
  <mat-label>Service Description</mat-label>
  <input matInput formControlName="serviceDescription" rows="3">
 </mat-form-field>
   -->

      <!-- Time Information -->

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Start Date</mat-label>
        <input matInput  [matDatepicker]="startDatePicker"
          placeholder="startDate" formControlName="startDate" />
          <mat-datepicker-toggle
          matSuffix
          [for]="startDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>End Date</mat-label>
        <input matInput  [matDatepicker]="endDatePicker"
          placeholder="Enddate"
          formControlName="endDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>

      <!-- <mat-form-field appearance="outline" class="form-field">
        <mat-label>Date</mat-label>
        <input matInput type="date" formControlName="date" />
      </mat-form-field> -->

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Duration</mat-label>
        <input matInput type="text" formControlName="duration" />
      </mat-form-field>

      <!-- Location Information -->

      <!-- <mat-form-field appearance="outline" class="form-field">
        <mat-label>From</mat-label>
        <input matInput type="text" formControlName="from" />
      </mat-form-field> -->

      <!-- <mat-form-field appearance="outline" class="form-field">
        <mat-label>To</mat-label>
        <input matInput type="text" formControlName="to" />
      </mat-form-field> -->

      <!-- Payment Information -->

      <!-- <mat-form-field appearance="outline" class="form-field">
        <mat-label>PA</mat-label>
        <input matInput type="text" formControlName="pa" />
      </mat-form-field> -->

      <!-- <mat-form-field appearance="outline" class="form-field">
        <mat-label>PO</mat-label>
        <input matInput type="text" formControlName="po" />
      </mat-form-field> -->

      <!-- <mat-form-field appearance="outline" class="form-field">
        <mat-label>SFDC</mat-label>
        <input matInput type="text" formControlName="sfdc" />
      </mat-form-field> -->

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Unit Price</mat-label>
        <input matInput type="text" formControlName="unitPrice" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>TotalManDays</mat-label>
        <input matInput type="text" formControlName="totalManDays" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>TotalAmount</mat-label>
        <input matInput formControlName="totalAmount" />
      </mat-form-field>

      <!-- Other Information -->

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Valid Date</mat-label>
        <input matInput [matDatepicker]="validDatePicker"
        placeholder="validdate"
        formControlName="validDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="validDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #validDatePicker></mat-datepicker>
    </mat-form-field>

      <button mat-raised-button class="form-button" type="submit ">
        Submit
      </button>
    </form>
  </div>
</mat-card>
