table {
   width: 100%;
 }
 
.mat-mdc-form-field {
   font-size: 14px;
   width: 100%;
}

.tableContainer {
   margin: 20px;
}

.actionContainer {
   display: flex;
   flex-direction: row;
}


.icon:hover {
   cursor: pointer;
   color: red;
}
