<mat-card class="credit-note-card">
  <mat-card-title class="card-header">Credit note Details</mat-card-title>
  <div class="form-container">
    <form [formGroup]="creditnoteForm" >  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Project Name</mat-label>
        <input matInput   type="text"   formControlName="projectName" required="true" >
        </mat-form-field>  

        
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Client Address</mat-label>
      <input matInput   type="text"   formControlName="clientAddress" required="true" >
      </mat-form-field>  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Invoice Id</mat-label>
        <input matInput   type="text"   formControlName="invoiceId" required="true" >
        </mat-form-field> 

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Ref</mat-label>
        <input matInput   type="text"   formControlName="ref" required="true" >
        </mat-form-field>  
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Reference Invoice</mat-label>
          <input matInput   type="text"   formControlName="referenceInvoice" required="true" >
          </mat-form-field> 
        
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>po</mat-label>
            <input matInput   type="text"   formControlName="po" required="true" >
            </mat-form-field> 
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>sfdc</mat-label>
              <input matInput   type="text"   formControlName="sfdc" required="true" >
              </mat-form-field> 
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>pa</mat-label>
                <input matInput   type="text"   formControlName="pa" required="true" >
                </mat-form-field>  
                <mat-form-field appearance="outline" class="form-field">
                <mat-label>currencyType</mat-label>
                <input matInput   type="text"   formControlName="currencyType" required="true" >
                </mat-form-field>
                  <mat-form-field appearance="outline" class="form-field">
                    <mat-label>paidAmount</mat-label>
                    <input matInput   type="number"   formControlName="paidAmount" required="true" >
                    </mat-form-field> 
                    <mat-form-field appearance="outline" class="form-field">
                      <mat-label>actualsgd</mat-label>
                      <input matInput   type="number"   formControlName="actualsgd" required="true" >
                      </mat-form-field> 
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>actualAmount</mat-label>
                        <input matInput   type="number"   formControlName="actualAmount" required="true" >
                        </mat-form-field>
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>creditAmount</mat-label>
                        <input matInput   type="number"   formControlName="creditAmount" required="true" >
                        </mat-form-field> 
          <button mat-raised-button  class="form-button" type="submit "  (click)="onCreate()">Create</button>

        </form>
</div>
</mat-card>

 