form {
    // display: flex;
    // flex-direction: column;
    // flex-wrap: wrap;
    margin-top: 50px;
  }

div{
    display: flex;
    flex-direction: column;
  }
  
  /* Style for the form fields */
  mat-form-field {
    width: calc(50% - 25px);
    margin: 10px;
    margin-left: 380px;
  }
  
  /* Style for the buttons */
button {
    margin: 10px 25px;
    padding: 8px 16px;
    font-size: 14px;
    // display: flex;
    // flex-direction: row;
  }
  
  /* Style for the accent button */
  button[color="accent"] {
    background-color: #ff4081;
    color: #fff;
  }
  