<div class="card">
  <h2>JOB HISTORY</h2>

      <form [formGroup]="myForm" style="margin-bottom: 80px;">
        <div *ngFor="let formGroup of formGroups; let i = index" >
          <div [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">

            <mat-form-field class="form-field" appearance="outline">
              <mat-label class="label">COMPANY_NAME</mat-label>
              <input matInput placeholder="CompanyName {{ i + 1 }}" formControlName="companyName" [readonly]="isReadOnly" class="form-field" />
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label class="label">EXPERIENCE</mat-label>
              <input matInput placeholder="Experience {{ i + 1 }}" formControlName="experience" [readonly]="isReadOnly" class="form-field" />
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label class="label">START_DATE</mat-label>
              <input matInput placeholder="StartDate {{ i + 1 }}" formControlName="startDate" [readonly]="isReadOnly" class="form-field" />
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label class="label">END_DATE</mat-label>
              <input matInput placeholder="EndDate {{ i + 1 }}" formControlName="endDate" [readonly]="isReadOnly" class="form-field" />
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label class="label">FIELD</mat-label>
              <input matInput placeholder="Field {{ i + 1 }}" formControlName="field" [readonly]="isReadOnly" class="form-field" />
            </mat-form-field>
          </div>
        
        </div>
        
      </form>

      <div style="display: flex;flex-direction: row;">
        <button class ="button" mat-raised-button color="primary" style="color:white" type="submit" (click)="onSubmit()" [disabled]="isReadOnly">Submit</button>
        <button style="margin-left: 10px;" class ="button" mat-raised-button color="accent" type="button" (click)="onEdit()" *ngIf="isReadOnly">Edit</button>
      </div>

</div>