table {
   width: 100%;
}
 
.mat-mdc-form-field {
   font-size: 16px;
   width: 100%;
   padding: 10px;
}

.tableContainer {
   margin: 20px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
   padding: 20px;
   border-radius: 5px;
}

.actionContainer {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
}
 

.icon:hover {
   cursor: pointer;
   color: red;
}

// .categoryContainer {
//    margin-bottom: 20px;
// }

.btns {
   float: right;
   align-items: center;
   margin-left: 10px;
   flex-shrink: 0;
   justify-content: flex-end;
   background: linear-gradient(to bottom, #074a6e , #074a6e );
   color: #f3eeee;
   margin-bottom: 20px;
    
}
